In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("A2022_dataset_buat bedah data.csv", chunksize = 1000,  on_bad_lines = 'skip', delimiter = ';')
chunk_number = 1
chunks = []

for i, chunk in enumerate(data):
    data = pd.DataFrame(chunk)
    chunks.append(data)
    if i == chunk_number:
        break

In [4]:
data = pd.concat(chunks)
data.head()

,kodepemda,namapemda,sumber,tahun,bulan,kodedata,jeniscoa,nomorperda,tanggalperda,namaaplikasi,...,namaakunsubsubrinci,kodeakunsubsubsubrinci,namaakunsubsubsubrinci,volume,satuan,hargasatuan,kodesumberdana,namasumberdana,nilaianggaran,catatan
0,1.0,Provinsi Aceh,Sinergi5,2022,0,1,3,-,1900-01-01,NaN,...,NaN,NaN,NaN,0,NaN,0,NaN,NaN,31600000,NaN
1,1.0,Provinsi Aceh,Sinergi5,2022,0,1,3,-,1900-01-01,NaN,...,NaN,NaN,NaN,0,NaN,0,NaN,NaN,50000000,NaN
2,1.0,Provinsi Aceh,Sinergi5,2022,0,1,3,-,1900-01-01,NaN,...,NaN,NaN,NaN,0,NaN,0,NaN,NaN,57250000,NaN
3,1.0,Provinsi Aceh,Sinergi5,2022,0,1,3,-,1900-01-01,NaN,...,NaN,NaN,NaN,0,NaN,0,NaN,NaN,50000000,NaN
4,1.0,Provinsi Aceh,Sinergi5,2022,0,1,3,-,1900-01-01,NaN,...,NaN,NaN,NaN,0,NaN,0,NaN,NaN,600669000,NaN

In [5]:
print("Shape : {s}".format(s = data.shape))
print("Column headers/names: {s}".format(s = list(data)))

Shape : (2000, 60)
Column headers/names: ['kodepemda', 'namapemda', 'sumber', 'tahun', 'bulan', 'kodedata', 'jeniscoa', 'nomorperda', 'tanggalperda', 'namaaplikasi', 'pengembangaplikasi', 'kodefungsi', 'namafungsi', 'kodesubfungsi', 'namasubfungsi', 'kodeurusanprogram', 'namaurusanprogram', 'kodeurusanpelaksana', 'namaurusanpelaksana', 'kodeskpd', 'namaskpd', 'kodeunitskpd', 'namaunitskpd', 'kodeprogram', 'namaprogram', 'namaoutcome', 'targetoutcome', 'satuanoutcome', 'kodekegiatan', 'namakegiatan', 'kodesubkegiatan', 'namasubkegiatan', 'namaoutput', 'targetoutput', 'satuanoutput', 'kodelokasi', 'namalokasi', 'kodeakunutama', 'namaakunutama', 'kodeakunkelompok', 'namaakunkelompok', 'kodeakunjenis', 'namaakunjenis', 'kodeakunobjek', 'namaakunobjek', 'kodeakunrinci', 'namaakunrinci', 'kodeakunsubrinci', 'namaakunsubrinci', 'kodeakunsubsubrinci', 'namaakunsubsubrinci', 'kodeakunsubsubsubrinci', 'namaakunsubsubsubrinci', 'volume', 'satuan', 'hargasatuan', 'kodesumberdana', 'namasumberdana', 'nilaianggaran', 'catatan']

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 60 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   kodepemda               2000 non-null   float64
 1   namapemda               2000 non-null   object
 2   sumber                  2000 non-null   object
 3   tahun                   2000 non-null   int64
 4   bulan                   2000 non-null   int64
 5   kodedata                2000 non-null   int64
 6   jeniscoa                2000 non-null   int64
 7   nomorperda              2000 non-null   object
 8   tanggalperda            2000 non-null   object
 9   namaaplikasi            0 non-null      float64
 10  pengembangaplikasi      0 non-null      float64
 11  kodefungsi              2000 non-null   int64
 12  namafungsi              2000 non-null   object
 13  kodesubfungsi           2000 non-null   int64
 14  namasubfungsi           0 non-null      float64
 15  kodeurusanprogram       2000 non-null   object
 16  namaurusanprogram       2000 non-null   object
 17  kodeurusanpelaksana     2000 non-null   object
 18  namaurusanpelaksana     2000 non-null   object
 19  kodeskpd                2000 non-null   int64
 20  namaskpd                2000 non-null   object
 21  kodeunitskpd            2000 non-null   int64
 22  namaunitskpd            2000 non-null   object
 23  kodeprogram             2000 non-null   int64
 24  namaprogram             2000 non-null   object
 25  namaoutcome             0 non-null      float64
 26  targetoutcome           2000 non-null   int64
 27  satuanoutcome           0 non-null      float64
 28  kodekegiatan            2000 non-null   int64
 29  namakegiatan            2000 non-null   object
 30  kodesubkegiatan         2000 non-null   int64
 31  namasubkegiatan         2000 non-null   object
 32  namaoutput              0 non-null      float64
 33  targetoutput            2000 non-null   int64
 34  satuanoutput            0 non-null      float64
 35  kodelokasi              0 non-null      float64
 36  namalokasi              0 non-null      float64
 37  kodeakunutama           2000 non-null   int64
 38  namaakunutama           2000 non-null   object
 39  kodeakunkelompok        2000 non-null   int64
 40  namaakunkelompok        2000 non-null   object
 41  kodeakunjenis           2000 non-null   int64
 42  namaakunjenis           2000 non-null   object
 43  kodeakunobjek           2000 non-null   int64
 44  namaakunobjek           2000 non-null   object
 45  kodeakunrinci           2000 non-null   int64
 46  namaakunrinci           2000 non-null   object
 47  kodeakunsubrinci        2000 non-null   int64
 48  namaakunsubrinci        2000 non-null   object
 49  kodeakunsubsubrinci     0 non-null      float64
 50  namaakunsubsubrinci     0 non-null      float64
 51  kodeakunsubsubsubrinci  0 non-null      float64
 52  namaakunsubsubsubrinci  0 non-null      float64
 53  volume                  2000 non-null   int64
 54  satuan                  0 non-null      float64
 55  hargasatuan             2000 non-null   int64
 56  kodesumberdana          0 non-null      float64
 57  namasumberdana          0 non-null      float64
 58  nilaianggaran           2000 non-null   int64
 59  catatan                 0 non-null      float64
dtypes: float64(18), int64(22), object(20)
memory usage: 937.6+ KB

In [7]:
data.describe()

,kodepemda,tahun,bulan,kodedata,jeniscoa,namaaplikasi,pengembangaplikasi,kodefungsi,kodesubfungsi,namasubfungsi,...,namaakunsubsubrinci,kodeakunsubsubsubrinci,namaakunsubsubsubrinci,volume,satuan,hargasatuan,kodesumberdana,namasumberdana,nilaianggaran,catatan
count,2000.0,2000.0,2000.0,2000.0,2000.0,0.0,0.0,2000.000000,2000.0,0.0,...,0.0,0.0,0.0,2000.0,0.0,2000.0,0.0,0.0,2.000000e+03,0.0
mean,1.0,2022.0,0.0,1.0,3.0,NaN,NaN,8.775500,0.0,NaN,...,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,3.251770e+09,NaN
std,0.0,0.0,0.0,0.0,0.0,NaN,NaN,1.960873,0.0,NaN,...,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,2.406511e+10,NaN
min,1.0,2022.0,0.0,1.0,3.0,NaN,NaN,1.000000,0.0,NaN,...,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,1.347000e+03,NaN
25%,1.0,2022.0,0.0,1.0,3.0,NaN,NaN,7.000000,0.0,NaN,...,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,1.186000e+07,NaN
50%,1.0,2022.0,0.0,1.0,3.0,NaN,NaN,10.000000,0.0,NaN,...,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,4.999436e+07,NaN
75%,1.0,2022.0,0.0,1.0,3.0,NaN,NaN,10.000000,0.0,NaN,...,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,2.826705e+08,NaN
max,1.0,2022.0,0.0,1.0,3.0,NaN,NaN,11.000000,0.0,NaN,...,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,4.763700e+11,NaN

In [8]:
data.isnull().sum()

kodepemda                    0
namapemda                    0
sumber                       0
tahun                        0
bulan                        0
kodedata                     0
jeniscoa                     0
nomorperda                   0
tanggalperda                 0
namaaplikasi              2000
pengembangaplikasi        2000
kodefungsi                   0
namafungsi                   0
kodesubfungsi                0
namasubfungsi             2000
kodeurusanprogram            0
namaurusanprogram            0
kodeurusanpelaksana          0
namaurusanpelaksana          0
kodeskpd                     0
namaskpd                     0
kodeunitskpd                 0
namaunitskpd                 0
kodeprogram                  0
namaprogram                  0
namaoutcome               2000
targetoutcome                0
satuanoutcome             2000
kodekegiatan                 0
namakegiatan                 0
kodesubkegiatan              0
namasubkegiatan              0
namaoutput                2000
targetoutput                 0
satuanoutput              2000
kodelokasi                2000
namalokasi                2000
kodeakunutama                0
namaakunutama                0
kodeakunkelompok             0
namaakunkelompok             0
kodeakunjenis                0
namaakunjenis                0
kodeakunobjek                0
namaakunobjek                0
kodeakunrinci                0
namaakunrinci                0
kodeakunsubrinci             0
namaakunsubrinci             0
kodeakunsubsubrinci       2000
namaakunsubsubrinci       2000
kodeakunsubsubsubrinci    2000
namaakunsubsubsubrinci    2000
volume                       0
satuan                    2000
hargasatuan                  0
kodesumberdana            2000
namasumberdana            2000
nilaianggaran                0
catatan                   2000
dtype: int64